

html {
	height: 100%;
}

body {
	height: 100%;
	
	margin: 0;
	padding: 0;
}

a {
	color: white;
	
	text-decoration: none;
}

a:active {
	color: white;
}

#menu {
	height: 10%;
	width: 100%;
	
	background-color: black;
}

#tableMenu {
	display: inline-block;
	
	height: 100%;
	width: 40%;
}

#tableMenu table {
	height: 100%;
	width: 100%;
}


#tableMenu table td {
	height: 100%;
	width: 10%;
	
	text-align: center;
	vertical-align: middle;
	
	color: white;
}

#tableConnection{
	margin-left: 100px;

	vertical-align: middle;
	
	color: white;
}

#petitLogo {
	/*display: inline-block;
	
	height: 82px;
	width: 288px;*/
	
	margin-top: 100px;
}

#contenu  {
	height: 50%;
	width: 100%;
}


#accueil {
	height: 90%;
	width: 100%;
	
	background-image: url('images/Accueil.jpg');
	background-size: cover;
}

#grandLogo {
	/*height: 166px;
	width: 650px;
	
	margin: auto*/
	height: 10%;
	width: 80%;

	margin: auto;
	padding-top: 4%;
	
	color: white;
	font-size: 400%;
	text-align: center;
}

#titreAccueil {
	height: 10%;
	width: 80%;

	margin: auto;
	padding-top: 8%;
	
	color: white;
	font-size: 400%;
	text-align: center;
}
#inscription {
	height: 10%;
	width: 80%;

	margin: auto;
	
	color: white;
}
#menuAccueil {
	height: 10%;
	width: 100%;
	
	background-color: black;
}

#menuAccueil table {
	height: 100%;
	width: 60%;
	
	margin: auto;
}

#menuAccueil table td {
	height: 100%;
	width: 33%;
	
	color: white;
	
	font-size: 200%;
	text-align: center;
}



#decouvrir {
	height: 40%;
	width: 100%;
	
	background-image: url('images/Decouvrir.jpg');
	background-size: cover;
}

#titreDecouvrir {
	height: 10%;
	width: 80%;
	
	margin: auto;
	padding-top: 9%;
	
	color: white;
	font-size: 400%;
	text-align: center;
}

#decouvrirDroite {
	height: 100%;
	width: 33%;
	
	float: right;
	
	background-image: url('images/SmarthPhoneX.jpg');
	background-size:cover;
}

#decouvrirGauche {
	height: 100%;
	width: 33%;
	
	float: left;
	
	background-image: url('images/SmarthPhoneH.jpg');
	background-size:cover;
}

#decouvrirCentre {
	height: 100%;
	width: 33%;
	
	margin: auto;
}

.tailleSuperieure {
	font-size: 150%;
}


#contact {
	height: 40%;
	width: 100%;
	
	background-image: url('images/Contact.jpg');
	background-size: cover;
}

#titreContact {
	height: 10%;
	width: 80%;
	
	margin: auto;
	padding-top: 9%;
	
	color: white;
	font-size: 400%;
	text-align: center;
}

#tableContact {
	width: 100%;
}

#tableContact td {
	height: 100%;
	width: 50%;
	
	vertical-align: middle;
	
	padding-left: 5%;
	padding-right: 5%;
	
	font-size: 125%;
	font-style: italic;
}

#tableContact td ul {
	font-size: 80%;
}

.enGras {
	font-weight: bold;
}



.champTexte {
	width: 90%;
}

#consulter table {
	width: 80%;
	height: 80%;

	font-family: Verdana, Arial, System;
	
	margin: auto;
	
	color: blue;
}

#consulter table td ul {
	list-style-type: none;
	text-align: left;
}

#consulter table .imageAuCentre{
	text-align: center;
	width:50px;
	height:50px;
}


#produit {
	height: 40%;
	width: 100%;
	
	background-image: url('images/MobileShop.jpg');
	background-size: cover;
}



